<form method='POST' action='/api/transactions'>
  Wallet <input name='wallet' />
  name <input name='name' />
  category <input name='category' />
  date <input name='dateOccurred' />
  cost <input name='cost' />
  <input type='submit'>Submit</input>
</form>