<form method='POST' action='/api/transactions'>
  Wallet <input name='wallet' />
  name <input name='name' />
  category <input name='category' />
  year <input name='year' />
  month <input name='month' />
  day <input name='day' />
  cost <input name='cost' />
  <input type='submit'>Submit</input>
</form>