<form method='POST' action='/api/wallets'>
    name <input name='name' />
    currency <input name='currency' />
    initBalance <input name='initBalance' />
    <input type='submit'>Submit</input>
  </form>